<h2>Popis studenata</h2>
<table class="table table-hover" aria-describedby="Table that shows students">
  <thead>
  <th>#</th>
  <th>JMBAG</th>
  <th>ECTS</th>
  </thead>
  <tbody>
  <tr *ngFor="let student of students; index as studentIndex"
      (click)="onSelect(student)"
      [class.table-active]="student === selectedStudent">
    <td>{{studentIndex}}</td>
    <td>{{student.jmbag}}</td>
    <td>{{student.numberOfECTS}}</td>
  </tr>
  </tbody>
</table>

<app-student-details [student]="selectedStudent"></app-student-details>
